@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Poppins", sans-serif;
  --bgwhite: #fff;
  --bgcontact: #6070ff;
}

body {
  background-color: #e5e5e5;
}

h1 {
  font-family: var(--font);
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

/******************* HEADER SECTION WITH NAVIGATION LIST *************************/
header {
  background-color: var(--bgwhite);
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
  background-color: var(--bgwhite);
}

.main-header .Logo {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.bar-bar ul li a {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
  cursor: pointer;
}

.main-header .Logo a {
  text-decoration: none;
}

.bar-bar ul li a:hover {
  font-weight: bolder;
}

.bar-bar .icon {
  display: none;
}

/******************* MAIN SECTION AREA *************************/
.main-section-area {
  height: 550px;
  background-image: url("images/Header\ bg.svg");
  background-size: cover;
  background-color: var(--bgwhite);
  border-bottom-left-radius: 80px;
}

.main-slide {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 260px;
  padding-right: 260px;
}

.main-slide h1 {
  color: #172b4d;
}

.slide-text {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  font-style: normal;
  font-family: var(--font);
  color: #344563;
  margin: 12px 0;
}

.connect {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding-left: 10px;
}

.social-media {
  display: flex;
  flex-direction: row;
}

.social-media img {
  width: 19.99px;
  height: 19.99px;
}

.social-media li {
  padding-top: 10px;
  cursor: pointer;
  padding-left: 0;
  padding-right: 10px;
}

.main-section-area h1 {
  font-size: 48px;
  line-height: 60px;
}

/******************** WORK AREA DESIGN ***************************/

.main-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 3.4rem;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background: #fff;
  border: 2px solid #dfe1e6;
  border-radius: 24px;
  width: 1000px;
  padding: 20px;
  column-gap: 25px;
}

.flex-items img {
  width: 544px;
}

.flex-items h2 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.flex-items .subtitle {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.flex-items .mid-list {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #6b778c;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.flex-items .description {
  font-family: var(--font);
  width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
  float: left;
}

/* .container-float {
  position: relative;
} */

button {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

button:hover {
  background-color: #3b4ef9e0;
}

.flex-items button {
  font-family: var(--font);
  padding: 12px;
  height: 48px;
  left: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: transparent;
  margin-top: 50px;
  font-size: 17px;
  cursor: pointer;
  color: #396df2;
  font-weight: 500;
}

.flex-item button {
  font-family: var(--font);
  padding: 12px;
  height: 48px;
  left: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: transparent;
  margin-top: 30px;
  font-size: 17px !important;
  cursor: pointer;
  color: #396df2;
  font-weight: 500;
  line-height: 24px;
}

.flex-contact ul li button {
  margin-top: 27px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 180px;
  height: 48px;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.flex-items .list-stack {
  padding-top: 80px;
  margin-top: 40px;

  /* float: left; */
}

.media li {
  padding-top: 10px;
  cursor: pointer;
  padding-left: 0;
  padding-right: 15px;
}

.tabs li {
  padding: 10px;
  display: block;
  font-family: var(--font);
  border-bottom: 1px solid gray;
}

.flex-items .list-stack li {
  font-family: var(--font);
  font-weight: bolder;
  font-size: 12px;
  padding-left: 0 !important;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 80px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
  color: #6070ff;
}

.flex-items button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

.flex-items button:active {
  background: #2230d2;
  color: #fff;
}

.btn-primary {
  background: #4053fc !important;
  color: white !important;
}

.spacer {
  margin-top: 40px;
}

/******************** END OF WORK AREA DESIGN ***************************/

/******************** ABOUT ME  ***************************/
.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.4rem;
}

.main-about-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 70px;
  padding-bottom: 40px;
  margin-top: 100px;
}

.item1 {
  flex: 2;
}

.item2 {
  flex: 3;
}

.main-about-container h2 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  margin: 12px 0;
}

.main-about-container p {
  font-family: var(--font);
  width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
}

.main-about-container h3 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.media {
  display: flex;
  flex-direction: row;
}

.media img {
  width: 19.99px;
  height: 19.99px;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 100vh;
}

/********************* ABOUT SECTION PAGE *************************/
.contact-form-bg {
  background-color: white;
}

.contact_bg {
  /* display: grid;
  grid-template-columns: 1fr; */
  height: 846px;
  background-image: url("images/Header bg.svg");
  background-color: var(--bgcontact);
  border-top-left-radius: 180px;
}

.flex-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-contact h2 {
  margin-top: 150px;
  font-family: var(--font);
  font-weight: 700;
  color: #fff;
  font-size: 40px;
}

.flex-contact p {
  margin-top: 12px;
  width: 569px;
  font-family: var(--font);
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.flex-contact form {
  width: 600px;
  text-align: center;
}

.flex-contact ul li input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 2px;
  margin-top: 27px;
  width: 447px;
  height: 48px;
  padding: 10px;
}

.flex-contact ul li textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 2px;
  margin-top: 27px;
  padding: 10px;
}

#form-btn:hover {
  background-color: #6070ff;
  color: #fff;
}

#form-btn:active {
  background-color: #2230d2;
  color: #fff;
}

.inner-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.inner-container div {
  font-family: var(--font);
  background: #f7f7f9;
  border-radius: 8px;
  width: 122px;
  height: 130px;
  margin-right: 20px;
  text-align: center;
}

.inner-container span {
  display: block;
  margin-bottom: 0;
}

.inner-container div span {
  font-family: var(--font);
  margin-top: -10px;
  font-size: 15px;
  font-weight: 500;
}

.inner-container img {
  width: 100px;
  padding: 15px;
  margin-right: 10px;
}

/*********************** END OF ABOUT SECTION **********************/

/******************** END OF ABOUT ME  ***************************/

@media only screen and (max-width: 600px) {
  .main-slide {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-header {
    margin-left: 5px;
    margin-right: 5px;
  }

  .bar-bar .icon {
    display: inline;
  }

  .bar-bar ul {
    display: none;
  }

  .flex-container {
    width: 327px;
    flex-direction: column;
  }

  .flex-items img {
    width: 295px;
    height: 220px;
  }

  .flex-items h2 {
    font-weight: 700;
    font-size: 32px;
    width: 295px;
  }

  .flex-items .subtitle {
    font-weight: 600;
    font-size: 13px;
    width: 55px;
  }

  .flex-items .mid-list {
    font-size: 13px;
    width: 88px;
  }

  .flex-items .description {
    font-weight: 400;
    font-size: 15px;
    width: 295px;
  }

  .tabs li {
    padding: 10px;
    display: block;
    font-family: var(--font);
    border-bottom: 1px solid gray;
  }

  .flex-contact ul li {
    display: block;
  }

  .flex-items .list-stack li {
    font-size: 12px;
    width: 65px;
  }

  .flex-items button {
    font-weight: 500;
    font-size: 13px !important;
    width: 100px;
    margin-bottom: 10px;
  }

  .main-about-container {
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
    margin-top: 30px;
    border-top-right-radius: 100px;
    width: 402px;
  }

  .main-about-container p {
    width: 100%;
  }

  .tabs {
    width: 100%;
  }

  .flex-item button {
    font-size: 12px !important;
    font-weight: 300;
  }

  /************* CONTACT MOBILE SECTION *****************/
  .flex-contact p {
    width: 327px;
  }

  .flex-contact h2 {
    font-size: 40px;
  }

  .flex-contact ul li input {
    border-radius: 8px;
    width: 327px !important;
  }

  .flex-contact ul li textarea {
    width: 327px !important;
    border-radius: 8px;
  }

  .flex-contact ul li button {
    width: 108px !important;
    border-radius: 8px;
    font-size: 11px;
    cursor: pointer;
    padding: 12px 16px;
    font-weight: 500;
  }

  .contact_bg {
    height: 900px;
    background-image: url("images/Header bg.svg");
    background-size: cover;
    background-color: var(--bgcontact);
    border-top-left-radius: 80px;
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .inner-container div {
    font-family: var(--font);
    background: #f7f7f9;
    border-radius: 8px;
    width: 303px;
    height: 66px;
    margin-bottom: 10px;
  }

  .inner-container div span {
    font-family: var(--font);
    float: left;
    margin-top: 20px;
    padding-left: 10px;
  }

  .inner-container img {
    float: left;
    height: 62px;
    width: 62px;
  }

  /* .inner-container img {
    width: 100px;
    padding: 15px;
  } */

  /************* END OF MOBILE SECTION ******************/
}
