@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: 'Poppins', sans-serif;
  --bgwhite: #FFFFFF;
}

body{
  background-color: #E5E5E5;
}

h1 {
  font-family: var(--font);
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

/******************* HEADER SECTION WITH NAVIGATION LIST *************************/
header{
  background-color: var(--bgwhite);
  
}
.main-header {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
  background-color: var(--bgwhite);
}

.main-header .Logo {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.bar-bar ul li a {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
  cursor: pointer;
}

.main-header .Logo a {
  text-decoration: none;
}

.bar-bar ul li a:hover {
  font-weight: bolder;
}

.bar-bar .icon {
  display: none;
}

/******************* MAIN SECTION AREA *************************/
.main-section-area {
  height: 500px;
  background-image: url("images/Header\ bg.svg");
  background-size: cover;
  background-color: var(--bgwhite);
}

.main-slide {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 260px;
  padding-right: 260px;
}

.slide-text {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  font-style: normal;
  font-family: var(--font);
  color: #344563;
  margin: 12px 0;
}

.connect {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding-left: 10px;
}

.social-media {
  display: flex;
  flex-direction: row;
}

.social-media img {
  width: 19.99px;
  height: 19.99px;
}

.social-media li {
  padding-top: 10px;
  cursor: pointer;
  padding-left: 0;
  padding-right: 10px;
}

.main-section-area h1 {
  font-size: 48px;
  line-height: 60px;
}


/******************** WORK AREA DESIGN **********************************/
.grid-container{
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-top: 80px;
  gap: 100px;
}

.grid-item{
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 24px;
  padding: 30px;
  /* width: 100%;
  height: 100%; */
  /* width: 1156px;
  height: 496px;*/
}

.flex-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* flex-wrap: wrap; */
}

.flex-item{

}

.flex-item h2 {
  font-family: var(--font);
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
}

.canopy{
  margin-right: 10px;
}
.flex-item .canopy{
  font-family: var(--font);
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #344563;
}

.flex-item .border{
  background: #C1C7D0;
  border-radius: 40px;
}

.flex-item img{
  width: 544px;
  max-width: 100%;
  height: auto;
  padding-right: 20px;
}




.flex-item button{
  font-family: var(--font);
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
color: #396DF2;
border: 1px solid #396DF2;
}

.canoppy-others{
font-family: var(--font);
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #6B778C;
}

.dot{
  height: 6px;
  width: 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  }



.fitem {
  font-family: var(--font);
  width: 400px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #344563;
margin-top: 20px;
  }

  .list-stack{
    padding-top: 20px;
  }
  .nopadding{
    padding-left: 0 !important;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 80px;
    height: 24px;
    background: #EBEBFF;
    border-radius: 8px;
    text-align: center;
    color: #6070FF;
  }


  .btn{
padding: 12px;
height: 48px;
left: 0px;
border: 1px solid #6070FF;
border-radius: 8px;
background-color: transparent;
margin-top: 50px;
font-size: 17px !important;
cursor: pointer;
  }
  .btn-primary {
    background-color: #4053FC !important;
   color: white !important;
  }
/******************** END OF WORK AREA DESIGN ***************************/






@media only screen and (max-width: 600px) {
  .main-slide {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-header {
    margin-left: 5px;
    margin-right: 5px;
  }

  .bar-bar .icon {
    display: inline;
  }

  .bar-bar ul {
    display: none;
  }
  .flex-container{
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
}
